<html>
<body>
{% include 'homepage.html' %}<br><br>
<form action="{% url 'passwordchange' %}" method="post">
    {% csrf_token %}
<table align="center" style="text-align: center" border="1">
    <tr>
        <td>Email id</td>
        <td><input type="email" required name="merchentemail"></td>
    </tr>
    <tr>
        <td>Old Password</td>
        <td><input type="password" required name="merchentoldpass"></td>
    </tr>
    <tr>
        <td>NEWPassword</td>
        <td><input type="password" required name="merchentnewpass"></td>
    </tr>
    <tr>
        <td>ConformPassword</td>
        <td><input type="password" required name="merchentconformpass"></td>
    </tr>
    <tr>
        <th colspan="2"><button type="submit">Submit</button></th>
    </tr>
</table>
</form>
</body>
</html>

{% for x in messages %}
    <h1 align="center">{{ x }}</h1>
{% endfor %}