{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
</head>
<body bgcolor="#00ffff" >
{% include 'iconpage.html' %}
<table align="center" >
    <tr>
        <form action="{% url 'adhome' %}">
        <td><button class="btn btn-warning " type="submit">Home</button></td>
        </form>
    <td>
    <div class="dropdown">
        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Merchant
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'mlogin' %}">ADD Merchant</a>
            <a class="dropdown-item" href="{% url 'viewmr' %}">View Merchant</a>
            <a class="dropdown-item" href="{% url 'delmt' %}">Delete Merchant</a>
        </div>
    </div>
    </td>
    <td>
    <div class="dropdown">
        <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sales
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Date Wise</a>
            <a class="dropdown-item" href="#">Week Wise</a>
            <a class="dropdown-item" href="#">Month Wise</a>
            <a class="dropdown-item" href="#">Year Wise</a>
        </div>
    </div>
    </td>
        <td><button class="btn btn-Danger " type="submit">Complaints</button></td>
        <form action="{% url 'logout' %}"><td><button class="btn btn-info" type="submit">Logout</button></td></form>
    </tr>
</table>